.carousel{
    background-image: url('https://i.ibb.co/CncxTYV/che.jpg');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width:1023px) and (min-width:767px) {
    .carousel{
        background-attachment: unset;
    }
}
@media screen and (max-width:767px) {
    .carousel{
        background-attachment: unset;
    }
}